body {
	background: white;
}
#tampilan {
	background: #00FFFF;
	height: 1300px;
	width: 1000px;
	margin: auto;
}
#tampilan h1 {
	text-align: center;
}
h1, h2, h3, p, p1 {
	margin-left: 20px;
}
p1 {
	background-color: yellow;
}
#styletabel th, td {
	margin-left: 20px;
}
.from {
	margin-left: 20px;
}
